---
layout: base
description: Outjected is an infrequent blog about the frequent issues and annoyances that pop up while coding.
---
- for blog in page.blogs
  - if blog != nil
    .col-md-12.floating-page.blog-page
      %h3
        %a{:href=>blog.url}= blog.title
      .blog-content
        = blog.content
        .clearfix
          .pull-left
            - if blog.tags
              .tags
                %span.title
                  tags:
                -for tag in blog.tags
                  %a.label.label-primary.text-center{:href => "/blog/tags/#{tag}"} #{tag}
          .pull-right
            %strong #{blog.author} - #{blog.date.strftime( '%B %d, %Y' )}
        .clearfix{:style=>"margin-top:5px"}
          .pull-left
            = blog.disqus_comments_link
.row.text-center
  - if page.blogs.pages.length != 1
    .col-md-12
      %ul.pagination
        - for p in page.blogs.pages
          - if p == page.blogs.current_page
            %li.active
              %a{:href=>"#"} #{page.blogs.current_page_index + 1}
          -else
            %li
              %a{:href=>p.output_path} #{page.blogs.pages.index(p) + 1}
= page.blogs[0].disqus_comments_count