---
layout: base
---

.floating-page.blog-page
  %h3
    #{page.title}
  .blog-content
    ~ content
    .clearfix
      .pull-left
        - if page.tags
          .tags
            %span.title
              tags:
            -for tag in page.tags
              %a.label.label-primary.text-center{:href => "/blog/tags/#{tag}"} #{tag}
      .pull-right
        %strong #{page.author} - #{page.date.strftime( '%B %d, %Y' )}
    .clearfix
      .comments
        = page.disqus_comments
