---
layout: base
---
.row-fluid
  .span1
    %img.floating-page{:src=> 'http://www.gravatar.com/avatar/' + Digest::MD5.hexdigest( page.email ), :alt=>"Profile Image"}
  .span11
    %h3
      #{page.title}
    .floating-page.blog-content
      ~ content
      .clearfix
        .pull-left
          - if page.tags
            .tags
              %span.title
                tags:
              -for tag in page.tags
                %a.label.label-info.text-center{:href => "/blog/tags/#{tag}"} #{tag}
        .pull-right
          %h6 #{page.author} - #{page.date.strftime( '%B %d, %Y' )}
      .clearfix
        .comments
          = page.disqus_comments
